.form-floating label{
    color: cadetblue;
}
.col-6 h4{
    color: rgb(170, 170, 169);
} 
.carousel img { 
    height:290px;
}

.footer a{
    color:crimson;
}
.nered a{
    color:#fff;
}



